<!DOCTYPE html>
<html>
  <head>
    <title>New Member</title>
  </head>
  <body>
    <p></p>
    <div class="flashes">
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
    <form action="/new" method = "post">
      <label for = "name">Name</label>
      <input type = "text" name = "name" placeholder = "name"/>
      <br>
      <label for = "surname">Surname</label>
      <input type = "text" name = "surname" placeholder = "surname"/>
      <br>
      <label for = "email">Email</label>
      <input type = "text" name = "email" placeholder = "email"/>
      <br>
      <label for = "password">Password</label>
      <input type = "password" name = "password" placeholder = "password"/>
      <br>
      <input id="btnSignUp" type = "submit" value = "Sign up"/>
    </form>
  </body>
</html>
